<a href="https://colab.research.google.com/github/asadaligadehi/DataScience/blob/main/Lab_01_20SW042.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab#01-Data Types and Operators

Rollno : 20SW042

Section : 2

Task#01

In [1]:
name = "Asad"
rollno = 42
print("my name is {}".format(name))
print("my roll number is {}".format(rollno))

my name is Asad
my roll number is 42

Task#02

In [2]:
text = "Hello, World!"

# Capitalizing the first letter of the string
print("Capitalized:", text.capitalize())
# Capitalizing the first letter of the string
print("Capitalized:", text.casefold())
centered_text = text.center(20, "*")
print("Centered text:", centered_text)
# Counting occurrences of a substring in the string
print("Count of 'l':", text.count("l"))
text = "Hello, World!"

# Encoding the string using UTF-8
encoded_text = text.encode("utf-8")
print("Encoded text:", encoded_text)
# checks if the string starts with a specific substring
print("Starts with 'Hello':", text.startswith("Hello"))
# Checking if the string ends with a specific substring
print("Ends with 'World!':", text.endswith("World!"))

Capitalized: Hello, world!
Capitalized: hello, world!
Centered text: ***Hello, World!****
Count of 'l': 3
Encoded text: b'Hello, World!'
Starts with 'Hello': True
Ends with 'World!': True

Task#03

In [3]:
month = 4
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
days = days_in_month[month-1]
print(days)

30

Task#04

In [4]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23,2003',
 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
 'July 11, 2010', 'November 13, 2012', 'March 20,2015',
 'March 9, 2016']
# TODO: Modify this line so it prints the last three elements of the
print(eclipse_dates[7:10])

['November 13, 2012', 'March 20,2015', 'March 9, 2016']

Task#05

In [5]:
nested_dict = {
    'asad': {
        'rollno': '042',
        'Batch': '20',
        'gpa': '3.5'
    },
    'farhan': {
        'rollno': '72',
        'gpa': '4'
    },
    'key3': {
        'awais': {
            'rollno': '48',
            'gpa': '3.4'
        }
    }
}

print(nested_dict)

{'asad': {'rollno': '042', 'Batch': '20', 'gpa': '3.5'}, 'farhan': {'rollno': '72', 'gpa': '4'}, 'key3': {'awais': {'rollno': '48', 'gpa': '3.4'}}}