<a href="https://colab.research.google.com/github/asadaligadehi/DataScience/blob/main/Lab_02_20SW042.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab#02 : Control flow in python

Rollno : 20SW042

Section : 2

Task#01

In [1]:
point = int(input("enter the points your have achieved : "))

result = ""

if point >= 1 and point <= 50:
   result = "wooden rabbit"
   print("congratulations you have won : "+ result)
elif point >= 51 and point <= 150:
   result = "no pirze"
   print("congratulations you have won : "+ result)
elif point >= 151 and point <= 180:
   result = "water thin mint"
   print("congratulations you have won : "+ result)
elif point >= 180 and point <= 200:
  result = "penguin"
  print("congratulations you have won : "+ result)
else :
  print("no prize this time")

enter the points your have achieved : 140
congratulations you have won : no pirze

Task#02

In [2]:
guess = int(input("guess the number which is hidden : "))

answer = 15

if guess >= 1 and guess <=5:
 result = "guess is too low"
 print("your guess "+ result)
elif guess >= 5 and guess <= 10:
  result = " it is close but still low"
  print("your guess "+ result)
elif guess >= 10 and guess <= 15:
   result = "good you have guess right"
   print("your guess "+ result)
elif guess >= 20 :
   result = "too hight"
   print("your guess "+ result)
else :
 print("invalid input")

guess the number which is hidden : 6
your guess  it is close but still low

Task#03

In [3]:
from IPython.core.formatters import StringIO
amount = int(input("enter the purchase amount : "))
state = str(input("enter the state name like ( CA, MN, NY) : "))

tax = 0.0

if state == "CA":
 tax = amount * 0.075
 print("the tax charge is  "+ str(tax))
elif state == "MN":
   tax = amount * 0.095
   print("the tax charge is  "+ str(tax))

elif state == "NY":

    tax = amount * 0.089
    print("the tax charge is  "+ str(tax))
else :
 print("invalid input")

enter the purchase amount : 10000
enter the state name like ( CA, MN, NY) : NY
the tax charge is  890.0

Task#04

In [4]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

for i in sentence:

  print(i)

the
quick
brown
fox
jumped
over
the
lazy
dog

Task#05

In [5]:
for num in range(5, 31, 5):
    print(num)

5
10
15
20
25
30

Task#06

In [6]:
names = ["Ameer ali", "Asad ali", "Farhan ali", "Awais ali"]

# Using list comprehension to extract first names in lowercase
first_names = [name.split()[0].lower() for name in names]
print(first_names)

['ameer', 'asad', 'farhan', 'awais']

Task#07

In [7]:
first_names = [i**3 for i in range(1,20)]

print(first_names)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

Task#08

In [8]:
scores = {"Farhan Ali": 66, "Asad Ali": 70, "Awais Ali": 82, "Awais chandio": 87, "Zohaib Ali": 40}

# List comprehension to get names with scores >= 65
passed_names = [name for name, score in scores.items() if score >= 65]

print(passed_names)

['Farhan Ali', 'Asad Ali', 'Awais Ali', 'Awais chandio']

Task#09

In [9]:
cast_names = ["Barry", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))

print(cast)

{'Barry': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

Task#10

In [10]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

# Modify the cast list using enumerate() and a for loop
for index, name in enumerate(cast):
    cast[index] = name + str(heights[index])

print(cast)

['Barney Stinson72', 'Robin Scherbatsky68', 'Ted Mosby72', 'Lily Aldrin66', 'Marshall Eriksen76']